<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SpectrumV1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <SpectrumV1.Properties.Settings>
            <setting name="ApplicationName" serializeAs="String">
                <value />
            </setting>
            <setting name="ApplicationPalette" serializeAs="String">
                <value />
            </setting>
            <setting name="ApplicationSkinName" serializeAs="String">
                <value />
            </setting>
            <setting name="CompactUI" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CompanyId" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CurrentLanguage" serializeAs="String">
                <value>EN</value>
            </setting>
            <setting name="DarkTheme" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Palette" serializeAs="String">
                <value />
            </setting>
            <setting name="SkinName" serializeAs="String">
                <value />
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UserName" serializeAs="String">
                <value>Admin</value>
            </setting>
            <setting name="UserPassword" serializeAs="String">
                <value>admin</value>
            </setting>
            <setting name="SavePassword" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CompanyName" serializeAs="String">
                <value>Vision^</value>
            </setting>
        </SpectrumV1.Properties.Settings>
    </userSettings>
</configuration>